.chart{
    width:30%
}
.div1{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid black; */
    margin: 2rem 0;
}
.loanEMi{
    border: 1px solid black;
    text-align: center;
    margin: 0.1rem
}
.form{
    text-align: center;
}
.slider{
    width: 80%;
 
}
.slidermain{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
}
.app{
    margin: 1rem;

}
.loanData{
    margin-top: 3rem;
}
Table{
    /* margin: 1rem; */
    border: 1px solid black;
    width: 80% !important;
}
.table{
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}